---
import type tailwindcss from "@tailwindcss/vite";
import NextjsIcon from "../components/icons/Nextjs.astro";
import TailwindCSSIcon from "../components/icons/TailwindCSS.astro"

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextjsIcon
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: TailwindCSSIcon
  },
};

const PROJECTS = [
  {
    title: "SVGL - A beautiful library with SVG logos",
    description: "Lorem ipsum",
    link: "https://svgl.app/",
    github: "#",
    image: "/projects/project1.webp",
    tags: [TAGS.NEXT, TAGS.TAILWIND],
  },
];
---

{
  PROJECTS.map(({ title, description, tags, image }) => (
    <article>
      <h3 class="text-2xl font-semibold text-yellow-200 mb-2">{title}</h3>
      <p class="text-lg mb-4">{description}</p>
      <ul class="flex gap-x-2 flex-row mb-4">
        {tags.map((tag) => (
          <li>
            <span class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}>
                <tag.icon class="size-4"/>
                {tag.name}
            </span>
        </li>
        ))}
      </ul>
      <img
        class="rounded shadow-2xl shadow-white/10"
        src={image}
        alt={`Captura de pantalla del proyecto ${image}`}
      />
    </article>
  ))
}
